@IMPORT 'https://fonts.googleapis.com/css?family=Roboto';

@BLACK:         #000000;
@WHITE:         #FFFFFF;
@GREY:          #878786;
@LIGHT-GREY:    #F0F0F0;

@PURPLE:        #ad34e5;
@PINK:          #ff0080;
@AZURE:         #0098f8;
@GREEN:         #00B4A6;
@LIGHT-GREEN:   #00e38d;
@RED:           #ff4834;
@YELLOW:        #ffd748;

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    
}

// HEADER

header {
    margin: auto;   
    
}

.navbar_header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    li{
            list-style: none;
            margin-left: 50px;
            text-align: center;
            border-bottom: 2px solid @WHITE;
            .animate(0.2s);
            
            &:hover{
                border-bottom: 2px solid @BLACK;
            }
            
            &.active{
                border-bottom: 2px solid @GREEN;
                color: @GREEN;
            }
    }
}

#menu {
    justify-content: space-around;
}



// CONTENUTO

.col-sm-12 {
    margin-top: 50px;
    margin-bottom: 30px;  
    
}

.row {
    
    
}

.col-sm-15 {
    padding-top: 38px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
      width: 20%;
      float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
      width: 20%;
      float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
      width: 20%;
      float: left;
  }
}

.nome {
    font-size: 140px;
    font-weight: bold;
        
}

.col-sm-4 {
    margin-bottom: 50px;
    margin-top: 50px;    
}





